@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Add custom tailwind stuff here */
@theme {
  --color-primary: #011930; /* Midnight Blue */
  --color-secondary: #06E3E0; /* Light Blue (Bioluminescent Glow) */
  --color-components: #0C596B; /* darker turquoise color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
