**/node_modules
**/.pnp
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions

/hab-frontend/coverage
/hab-frontend/.next/
/hab-frontend/out/
/hab-frontend/build


/hab-frontend/.vercel/

/hab-frontend/npm-debug.log*
/hab-frontend/yarn-debug.log*
/hab-frontend/yarn-error.log*
/hab-frontend/.pnpm-debug.log*


/hab-frontend/*.tsbuildinfo
/hab-frontend/next-env.d.ts

.DS_Store
venv/
secrets.json
serviceAccountKey.json
/*.env
/*.env.*
**/.env
**/.env.*