.DS_Store
venv/
secrets.json
serviceAccountKey.json
/*.env
/*.env.*
**/.env
**/.env.*

# files
/app/100_sample_baseline_models.csv
/app/data_w_gaps_and_wind.csv

# frontend
# dependencies
/fontend/node_modules
/fontend/.pnp
/fontend/.pnp.*
/fontend/.yarn/*
!/fontend/.yarn/patches
!/fontend/.yarn/plugins
!/fontend/.yarn/releases
!/fontend/.yarn/versions

# testing
/fontend/coverage

# next.js
/fontend/.next/
/fontend/out/

# production
/fontend/build

# misc
/fontend/.DS_Store
/fontend/*.pem

# debug
/fontend/npm-debug.log*
/fontend/yarn-debug.log*
/fontend/yarn-error.log*
/fontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/fontend/.env*

# vercel
/fontend/.vercel

# typescript
/fontend/*.tsbuildinfo
/fontend/next-env.d.ts
